<h1>Save a movie</h1>
<div class="container py-5">
  <div class="row">
    <div class="col-md-9">
      <h2>All lists</h2>
      <div id="lists" class="row">
        <% @lists.each do |list| %>
          <div class="col-sm-6">
           <% if list.photo.attached? %>
        <%= cl_image_tag list.photo.key,width: 300, height: 200, crop: :fill, class: "card-img-top" %>
        <% else %>
        <%= image_tag "https://res.cloudinary.com/dixe4r20z/image/upload/v1666742117/cld-sample-2.jpg",width: 300, height: 200, crop: :fill, class: "card-img-top" %>
        <% end %>
              <%= link_to list_path(list) do %>
                <%= list.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <%= link_to raw('<i class="fa-solid fa-plus"></i> Create a list'), new_list_path, class: 'btn d-block btn-primary btn-lg py-3' %>
    </div>
  </div>
</div>
